// NOTIFICATIONS
.custom-dropdown-notif {
  position: relative;
  cursor: pointer;

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    position: absolute;
    top: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
    background: white;
    min-width: 375px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    display: none;
    flex-direction: column;
    z-index: 10;

    a {
      padding: 25px 40px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: #f1f1f1;
      }
    }           
  }

  &.open .dropdown-menu {
    display: flex;
  }

}


//PROFILE
.custom-dropdown-profile {
  position: relative;
  cursor: pointer;

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    width: 100%;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: white;
    min-width: 100%;
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    z-index: 5;
    border-top: 1px solid #e7e7e7;

    a {
      padding: 10px 20px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  &.open .dropdown-menu {
    display: flex;
  }
}

